.fours 
    .fours__value 
        span.fours__span 100
    .fours__field 
        .fours__values-left 0
        input.fours__input(type='range' min='0' max='200' value='100' steps='1')
        .fours__values-right 200