.slider-two
    .container
        .slider-two__row
            .slider-two__title(class='title') Slider number two 
            .slider-two__input 
                .slider-two__field 
                    span From 
                    input.slider-two__min(type='number' value='0')
                .slider-two__field 
                    span To 
                    input.slider-two__max(type='number' value='200')
            .slider-two__slider 
                .slider-two__progress
            .slider-two__range-input
                input.slider-two__range-min(type='range' min='0' max='200' value='50')
                input.slider-two__range-max(type='range' min='0' max='200' value='200')