.slider-three
    .container
        .slider-three__row
            .slider-three__title(class='title') Slider number tree
            .slider-three__range
                .slider-three__num 0
                input.slider-three__input(type='range' min='0' max='200' value='0')