.slider-three
    .container
        .slider-three__row
            .slider-three__title(class='title') Slider number tree
            .slider-three__label
                .slider-three__text Number 
                input.slider-three__in(type='number' min='0' max='200' placeholder='0' id='input-1')
            .slider-three__numbers 
                .slider-three__first From 0
                .slider-three__range
                    .slider-three__num 0
                    input.slider-three__input(type='range' min='0' max='200' value='0')
                .slider-three__last To 200