.slider-one     
    .slider-one__title(class='title') Slider number one 
    .slider-one__slider(id='range-slider') 
    .slider-one__inputs 
        .slider-one__label
            .slider-one__text From
            input.slider-one__input(type='number' min='0' max='200' placeholder='0' id='input-1')
        .slider-one__label
            .slider-one__text To
            input.slider-one__input(type='number' min='0' max='200' placeholder='200' id='input-2')