.slider-four
    .container
        .slider-four__row
            .slider-four__title(class='title') Slider number four
            .slider-four__range
                .slider-four__num 0
                input.slider-four__input(type='range' min='0' max='200' value='0')